.save-button-homepage {
    padding: 8px 3px 8px 3px;
    /*    border-top: 2px ;
        border-right: 2px ;
        border-left: 2px ;
        border-color: #46b98a;*/
    background-color: transparent;
    transition: all 0.5s ease 0s;
}
.save-button-homepage:after{
    content:"";
    background: #46b98a;
    position: absolute;
    bottom: 0;
    left: 15%;
    height: .06em;
    width: 75%;
    transition: all 0.5s ease 0s;

}
.save-button-homepage:hover {
    background-color: rgba(92,184,92,.1);
    transition: all 0.5s ease 0s;
}
.save-button-homepage:hover:after {
    content:"";
    background: transparent;
    bottom: 0;
    left: 50%;
    height: .06em;
    width: 0;
    transition: all 0.5s ease 0s;
}

.cancel-button-homepage {
    padding: 8px 3px 8px 3px;
    /*    border-top: 2px ;
        border-right: 2px ;
        border-left: 2px ;
        border-color: #46b98a;*/
    background-color: transparent;
    transition: all 0.5s ease 0s;
}
.cancel-button-homepage:after{
    content:"";
    background: #E0645C;
    position: absolute;
    bottom: 0;
    left: 15%;
    height: .06em;
    width: 75%;
    transition: all 0.5s ease 0s;

}
.cancel-button-homepage:hover {
    background-color: rgba(224,100,92,.1);
    transition: all 0.5s ease 0s;
}
.cancel-button-homepage:hover:after {
    content:"";
    background: transparent;
    bottom: 0;
    left: 50%;
    height: .06em;
    width: 0;
    transition: all 0.5s ease 0s;
}
.view-all-homepage-button {
    padding: 8px 3px 8px 3px;
    /*    border-top: 2px ;
        border-right: 2px ;
        border-left: 2px ;
        border-color: #46b98a;*/
    background-color: transparent;
    transition: all 0.5s ease 0s;
}
.view-all-homepage-button:after{
    content:"";
    background: #2DB6CF;
    position: absolute;
    bottom: 0;
    left: 15%;
    height: .06em;
    width: 75%;
    transition: all 0.5s ease 0s;

}
.view-all-homepage-button:hover {
    background-color: rgba(45,182,207,.1);
    transition: all 0.5s ease 0s;
}
.view-all-homepage-button:hover:after {
    content:"";
    background: transparent;
    bottom: 0;
    left: 50%;
    height: .06em;
    width: 0;
    transition: all 0.5s ease 0s;
}

.open-note-button {
    background-color: transparent;
    transition: all 0.5s ease 0s;

}
.open-note-button:after {
    content:"";
    background: #2DB6CF;
    position: absolute;
    bottom: 0;
    left: 15%;
    height: .06em;
    width: 75%;
    transition: all 0.5s ease 0s;

}
.open-note-button:hover {
    background-color: rgba(45,182,207,.1);
    transition: all 0.5s ease 0s;

}
.open-note-button:hover:after {
    content:"";
    background: transparent;
    bottom: 0;
    left: 50%;
    height: .06em;
    width: 0;
    transition: all 0.5s ease 0s;

}
.delete-note-button {
    background-color: transparent;
    transition: all 0.5s ease 0s;

}
.delete-note-button:after {
    content:"";
    background: #E0645C;
    position: absolute;
    bottom: 0;
    left: 15%;
    height: .06em;
    width: 75%;
    transition: all 0.5s ease 0s;

}
.delete-note-button:hover {
    background-color: rgba(217,83,79,.1);
    transition: all 0.5s ease 0s;

}
.delete-note-button:hover:after {
    content:"";
    background: transparent;
    bottom: 0;
    left: 50%;
    height: .06em;
    width: 0;
    transition: all 0.5s ease 0s;

}
.edit-note-button {
    background-color: transparent;
    transition: all 0.5s ease 0s;

}
.edit-note-button:after {
    content:"";
    background: #46b98a;
    position: absolute;
    bottom: 0;
    left: 15%;
    height: .06em;
    width: 75%;
    transition: all 0.5s ease 0s;

}
.edit-note-button:hover {
    background-color: rgba(92,184,92,.1);
    transition: all 0.5s ease 0s;

}
.edit-note-button:hover:after {
    content:"";
    background: transparent;
    bottom: 0;
    left: 50%;
    height: .06em;
    width: 0;
    transition: all 0.5s ease 0s;

}

.open-note-button,
.delete-note-button,
.edit-note-button {
    color: black;
    font-size: 11px;
    position: relative;
    top: 25px;
    left: 262px;
    width: 35px;
    text-align: center;
    -webkit-animation-duration: .5s;
    z-index: 99999;
}